# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride

# Java compiled files
*.class
hs_err_pid*
logback.xml

# Gradle directories & wrappers
.gradle/
gradle-app.setting
!gradle-wrapper.jar
**/build/

# IDE
.settings
.classpath
.project
.vscode

# Log files
logs
logs*

#Design files
Designs/